.nav-ul{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}

.nav-ul li{
  display: inline-block;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-ul li a{
  color: white;
  padding: 5px;
  text-decoration: none
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: skyblue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-right{
  text-align: right;
}

.logo{
  width: 50px;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 10px;
}

/* Signup page start*/
.signup{
  text-align: center;
  max-width: 500px;
  margin: auto;
  background-color: #e9f6f9;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 1px rgb(144, 220, 246);
}

.signup .inputBox{
  display: block;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
  border: 1px solid hsl(191, 83%, 50%);
}

.signup button{
  margin: 10px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  font-size: large;
  color: #23b7e0;
  transition: all 0.2s ease-in-out;
}

.signup button:hover{
  background-color: #d9f0f7;
  box-shadow: 0px 0px 10px 1px rgb(202, 236, 247);
}
/* Signup page end*/

/* Login page starts */
.login{
  text-align: center;
  max-width: 500px;
  margin: auto;
  background-color: #e9f6f9;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 1px rgb(144, 220, 246);
}

.login .inputBox{
  display: block;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
  border: 1px solid hsl(191, 83%, 50%);
}

.login button{
  margin: 10px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  font-size: large;
  color: #23b7e0;
  transition: all 0.2s ease-in-out;
}

.login button:hover{
  background-color: #d9f0f7;
  box-shadow: 0px 0px 10px 1px rgb(202, 236, 247);
}
/* login page ends */